<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Players</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'templates/styles/style.css' %}" />
    </head>

    <body>
        <strong>There are</strong> {{ num_players }} players.<br />

        <table>
	  <tr align="right">
	    <th align="left">Name</th>
	    <th>Team</th>
	    <th>Position</th>
	    <th>Status</th>
	  </tr>
          {% for player in players %}
          <tr align="right">
	    <td align="left">{{ player.name }}</td>
	    <td>{{ player.team_id }}</td>
	    <td>{{ player.position }}</td>
	    <td>{{ player.status }}</td>
	  </tr>
          {% endfor %}
        </table>

        {% block AddPlayer %}
        {% endblock AddPlayer %}
    </body>
</html>
