<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Game has Umpire</title>
    </head>

    <body>
      <strong>There are</strong> {{ num_ghus }} instances of umpires in games.<br />

        <table>
          <tr align="right">
	    <th>Game</th>
	    <th>Name</th>
	  </tr>
          {% for ghu in ghus %}
          <tr align="right">
	    <td>{{ ghu.game }}</td>
	    <td>{{ ghu.umpire }}</td>
	  </tr>
	  {% endfor %}
        </table>
	


        {% block UpdateUmpireOnGame %}
        {% endblock UpdateUmpireOnGame %}

    </body>
</html>
