{% include "gamehasumpire.html" %}

{% block UpdateUmpireOnGame %}

<h3>Update Umpire on Game</h3>

<p>Please enter game/umpire information:<br>
Warning: this will update the current information!</p>

{% if form.errors  %}
    <p style="color: red">
      Please correct the error(s) below.
    </p>  
{% endif %}

<form action="/addumpireongameform/" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <p><input type=submit value="Do it" />
</form>

{% endblock UpdateUmpireOnGame %}
