<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Schedule</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'templates/styles/style.css' %}" />
    </head>

    <body>
        <strong>There are</strong> {{ num_games }} games on the schedule.<br />

        <table>
	  <tr><th>Game Title</th><th>Date</th><th>Away</th><th>Home</th><th>Stadium</th><th>Winner</th></tr>
            {% for game in games %}
          <tr>
	    <td>{{ game.gameTitle }}</td>
	    <td>{{ game.gameDate }}</td>
	    <td>{{ game.awayTeam }}</td>
	    <td>{{ game.homeTeam }}</td>
	    <td>{{ game.stadium }}</td>
	    <td>{{ game.winner }}</td>
	    
	  </tr>
	    {% endfor %}
        </table>

        {% block UpdateManager %}
        {% endblock UpdateManager %}
    </body>
</html>
