<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teams</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'templates/styles/style.css' %}" />
    </head>

    <body>
        <strong>There are</strong> {{ num_teams }} teams.<br />

        <table>
	  <tr align="right">
	    <th>Name</th>
	    <th>Location</th>
	    <th>Manager</th>
	  </tr>
          {% for team in teams %}
          <tr align="right">
	    <td>{{ team.name }}</td>
	    <td>{{ team.location }}</td>
	    <td>{{ team.manager_id }}</td>
	  </tr>
          {% endfor %}
        </table>
<!--	
        {% block AddTeam %}
        {% endblock AddTeam %}
-->    
</body>
</html>
